---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Página no encontrada" language="en">
    <div
        class="h-[80vh] w-full flex justify-center items-center flex-col text-center"
    >
        <h1 class="text-[100px]">ERROR 404</h1>
        <h5 class="text-4xl">The page you are looking, for is not here</h5>
    </div>
</Layout>
