---
import Icons from '@/assets/icons/IconsHandler.ts'

interface Props {
    link?: string
    icon?: string
    imgLink?: string
}

const POSIBLE_ICONS: { [key: string]: any } = Icons
const { link, icon, imgLink } = Astro.props

const myicon = icon && POSIBLE_ICONS[icon] ? POSIBLE_ICONS[icon] : null
---

{
    link ? (
        <a
            href={link}
            target="_blank"
            class="text-sm lg:text-base rounded-full min-w-7 w-fit bg-blue-200/90 text-black py-2 lg:py-3 px-3 lg:px-4 hover:scale-105 transition flex flex-row gap-3 items-center"
        >
            <img
                loading="lazy"
                class="h-4 w-auto lg:h-6"
                src={imgLink ?? link + '/favicon.svg'}
                onerror={`this.src = '/images/Logo.png'`}
                alt={`Logo of the following link`}
            />
            <slot />
        </a>
    ) : (
        <>
            <span class="text-xs lg:text-base rounded-full min-w-7 w-fit bg-white/70 text-black py-1 lg:py-[0.40rem] px-3 flex flex-row gap-3 items-center">
                {myicon && <myicon.icon class="h-4 w-auto lg:h-6" />}
                <slot />
            </span>
        </>
    )
}
