---

---

<footer
    class="h-[10svh] select-none bg-[var(--bg-dark)] dark:bg-[var(--bg-light)] text-[var(--bg-light)] dark:text-[var(--bg-dark)]"
>
    <div
        class="container flex justify-center items-center h-full w-full max-w-full text-center"
    >
        <span class="mb-4 text-center lg:mb-0 lg:text-start"
            >CocoDev <span aria-hidden class="hidden md:inline">|</span>
            <br aria-hidden class="block md:hidden" /> Developer</span
        >
    </div>
</footer>

<style>
    footer {
        text-align: center;
        bottom: 0;
        margin: 0;
        padding: 0;
        display: table-row;
        width: 100%;
    }
</style>
