---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { getRelativeLocaleUrlList } from 'astro:i18n'

interface Props {
    title?: string
    language: string
}

const pageURL = Astro.request.url
const { title, language } = Astro.props
const localeUrls = getRelativeLocaleUrlList()
---

<!doctype html>
<html lang={language}>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Ardom website" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/images/Logo.svg" />

        <meta
            property="og:title"
            content={title ? `${title} - CocoDev` : 'CocoDev'}
        />
        <meta property="og:type" content="website" />
        <meta property="og:url" content={pageURL ?? 'https://cocodrulo.dev/'} />
        <meta
            property="og:image"
            content={'https://cocodrulo.dev/images/Logo.png'}
        />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:locale" content="en_GB" />
        <meta property="og:locale:alternate" content="es_ES" />
        <meta
            property="og:description"
            content="Página web oficial de CocoDev donde encontrarás todo lo relacionado con este creador."
        />

        <title>{title ? `${title} - CocoDev` : 'CocoDev'}</title>
        <style is:global>
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            html {
                scroll-behavior: smooth;
            }

            @media (prefers-animate: reduce) {
                html {
                    scroll-behavior: auto;
                }
            }

            html,
            body {
                color-scheme: light dark;
                min-height: 100%;
                height: 100%;
                width: 100%;
                display: table;
                overflow: hidden;
                overflow-y: auto;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
                    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }

            :root {
                --bg-light: #e9e9e9;
                --bg-dark: #2a1d16;
            }

            body {
                background: light-dark(var(--bg-light), var(--bg-dark));
                color: light-dark(var(--bg-dark), var(--bg-light));
            }

            code {
                font-family:
                    Menlo,
                    Monaco,
                    Lucida Console,
                    Liberation Mono,
                    DejaVu Sans Mono,
                    Bitstream Vera Sans Mono,
                    Courier New,
                    monospace;
            }

            ::-webkit-scrollbar {
                width: 5px;
                height: 5px;
            }

            ::-webkit-scrollbar-track {
                background: transparent;
            }

            ::-webkit-scrollbar-thumb {
                background: light-dark(var(--bg-dark), var(--bg-light));
                border-radius: 10px;
                transition: all 0.3s linear;
            }

            ::-webkit-scrollbar-thumb:hover,
            ::-webkit-scrollbar-thumb:active {
                background: var(--brown);
                transition: all 0.3s linear;
            }
        </style>
    </head>
    <body>
        <Header locales={localeUrls} />
        <main class="min-h-[100svh]">
            <slot />
        </main>
        <Footer />
    </body>
</html>
